<section id="about" class="d-flex flex-row">
  <div class="container">
    <div class="d-flex" id="aboutWrapper">
      <div class="flex-40">
        <img src="./../../../assets/images/AngularJS-Shield.svg">
      </div>
      <div class="d-flex flex-col flex-60">
        <p class="student-info">
          Student: <strong>Dobre Marius Gabriel</strong> </p>
        <p class="student-info">
          Grupa: <strong>4LF381</strong></p>
        <p class="student-info" > Materia: <strong>Proiectare interefete utilizator</strong>
        </p>
        <p>
          <strong>MARIUS'S House</strong> este creat cu ajutorul API-ului public
          <a href="https://www.themealdb.com/" target="_blank"
            title="Visit TheMealDB website to know more">TheMealDB</a>,
          un Endpoint gratis care returnează rețete dintr-o bază de date externă.
        </p>
        <p>
          Utilizatorul poate căuta rețete specifice cu ajutorul câmpului de căutare sau poate accesa o rețetă la întâmplare prin butonul <strong>Random</strong>.
        </p>

      </div>
    </div>
  </div>
</section>