<section id="recipe" class="d-flex flex-row">
    <div class="container">
      <div class="d-flex" id="randomWrapper">
        <div class="flex-40">
        </div>
        <div class="d-flex flex-col flex-60">
          <div class="btnGroup">
            <a tabindex="0" class="button btnSearchRecipe" routerLink="/category/{{recipeCategory}}" title="Other Recipes">
              <span>Alte rețete în categoria {{recipeCategory}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <img id="randomMealImg" src="{{ recipeThumb }}" title="{{ recipeName }} thumbnail image" />
        </div>
        <div class="eight columns mealMetadata" id="mealMetadata">

          <div id="checklist">
            <ng-container *ngFor="let items of recipeIngredients; let i = index">
              <div class="ingrediente">
                <input id="{{i}}" type="checkbox" name="r" value="1">
                <label for="{{i}}">{{items}}</label>
              </div>
            </ng-container>
          </div>

          <div class="row">
            <div class="columns">
              <a *ngIf="recipeYoutubeLink" href="{{ recipeYoutubeLink }}" target="_blank" rel="noreferrer">Watch on YouTube</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <h5 style="    font-size: 27px;
          padding: 16px 0;
          font-weight: 500;">{{ recipeName }}</h5>
          <p id="recipeInstructions">{{ recipeInstructions }}</p>
        </div>
      </div>
    </div>
  </section>